// @see https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#spawn-at-startup
// @see https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#spawn-sh-at-startup

// Polkit agent
spawn-sh-at-startup "systemctl --user start hyprpolkitagent"

// Clipboard managers
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"

// Input method
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "fcitx5 -d"

// Theme
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3'"

// Compositor
spawn-sh-at-startup "quickshell"
// spawn-sh-at-startup "swaybg --image ~/dotfiles/assets/_background.png --mode fill"
spawn-sh-at-startup "hypridle -c ~/.config/niri/hypridle.conf"

