environment {
  // Theme
  XCURSOR_THEME "capitaine-cursors"
  XCURSOR_SIZE "24"
  GTK_THEME "adw-gtk3"

  // Toolkit backends
  GDK_BACKEND "wayland,x11,*"
  QT_QPA_PLATFORM "wayland;xcb"
  SDL_VIDEODRIVER "wayland"
  CLUTTER_BACKEND "wayland"

  // XDG
  XDG_CURRENT_DESKTOP "Niri"
  XDG_SESSION_TYPE "wayland"
  XDG_SESSION_DESKTOP "Niri"

  // Qt
  QT_AUTO_SCREEN_SCALE_FACTOR "1"
  QT_QPA_PLATFORM "wayland;xcb"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  QT_QPA_PLATFORMTHEME "gtk3"
  
  // Electron
  ELECTRON_ENABLE_WAYLAND_SUPPORT "1"

  // NVIDIA
  __GLX_VENDOR_LIBRARY_NAME "nvidia"
  LIBVA_DRIVER_NAME "nvidia"

  SCRIPTS "~/dotfiles/scripts"
}

