// @see https://niri-wm.github.io/niri/Configuration:-Input
input {
  // @see https://niri-wm.github.io/niri/Configuration%3A-Input.html#keyboard
  keyboard {
    xkb {
      layout "us"
      options ""
    }

    numlock
  }

  // @see https://niri-wm.github.io/niri/Configuration%3A-Input.html#pointing-devices

  touchpad {
    // off
    tap
    // dwt
    // dwtp
    // drag false
    // drag-lock
    natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "two-finger"
    // disabled-on-external-mouse
  }

  mouse {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "no-scroll"
  }

  trackpoint {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "on-button-down"
    // scroll-button 273
    // scroll-button-lock
    // middle-emulation
  }

  focus-follows-mouse max-scroll-amount="0%"
}
