include "./colors.kdl"

// @see https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#hotkey-overlay
hotkey-overlay {
  skip-at-startup
}

// @see https://niri-wm.github.io/niri/Configuration%3A-Gestures.html#hot-corners
gestures {
  hot-corners {
    off
  }
}

// @see https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#prefer-no-csd
prefer-no-csd

// @see https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#cursor
cursor {
  xcursor-theme "capitaine-cursors"
  xcursor-size 24
}

// @see https://niri-wm.github.io/niri/Configuration:-Layout
layout {
  gaps 4

  center-focused-column "never"

  default-column-width { proportion 0.5; }
  // preset-window-heights { }
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  focus-ring {
    // off

    width 1
  }

  border {
    // on

    width 1
  }

  shadow {
    // on

    // draw-behind-window true
    softness 30
    spread 5
    offset x=0 y=5
  }

  struts {
    // left 4
    // right 4
    // top 4
    // bottom 4
  }
}

// @see https://niri-wm.github.io/niri/Configuration:-Animations
animations {
  // off

  // Slow down all animations by this factor. Values below 1 speed them up instead.
  slowdown 1.0
}

