binds {
  Mod+Q   repeat=false { close-window; }
  Mod+Shift+Q { quit; }
  Mod+Tab repeat=false { toggle-overview; }

  Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
  Mod+E hotkey-overlay-title="Open a File Manager: thunar" { spawn "thunar"; }
  Mod+B hotkey-overlay-title="Open a Web Browser: zen-browser" { spawn "zen-browser"; }

  // Quickshell
  Mod+Space   { spawn-sh "quickshell ipc call appLauncher toggle"; }
  Mod+V       { spawn-sh "quickshell ipc call clipboardManager toggle"; }
  Mod+A       { spawn-sh "quickshell ipc call startMenu toggle"; }
  Mod+Shift+B { spawn-sh "quickshell ipc call bar toggle"; }

  // Window focus and movement
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down; }
  Mod+Shift+K     { move-window-up; }
  Mod+Shift+L     { move-column-right; }

  Mod+Ctrl+Shift+H { set-column-width  "-10%"; }
  Mod+Ctrl+Shift+J { set-window-height "-10%"; }
  Mod+Ctrl+Shift+K { set-window-height "+10%"; }
  Mod+Ctrl+Shift+L { set-column-width  "+10%"; }

  // Workspaces switch and movement
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+Comma  { consume-or-expel-window-left; }
  Mod+Period { consume-or-expel-window-right; }

  Mod+R       { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-column-width-back; }

  Mod+C       { center-column; }
  Mod+F       { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+Ctrl+F  { toggle-window-floating; }

  // Scroll through existing workspaces
  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

  // Laptop multimedia keys for volume and LCD brightness
  XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+"; }
  XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
  XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute      allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
  XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "brightnessctl -n2 set 5%+"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl -n2 set 5%-"; }

  // Playerctl
  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

  // Screenshots
  Print { spawn-sh "~/dotfiles/scripts/screenshot.sh --mode region"; }
  Mod+S { spawn-sh "~/dotfiles/scripts/screenshot.sh --mode region"; }
  Mod+Shift+S { spawn-sh "~/dotfiles/scripts/screenshot.sh --mode fullscreen"; }
}
