// @see https://niri-wm.github.io/niri/Configuration:-Window-Rules

window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
}

window-rule {
  match title="^Picture-in-Picture$"

  open-floating true
  default-column-width { fixed 640; }
  default-window-height { fixed 360; }
  default-floating-position x=4 y=4 relative-to="bottom-right"
}

window-rule {
  match app-id=r#"^thunar$"# title="^Rename.*$"
  
  open-floating true
}

window-rule {
  match app-id=r#"^Waydroid$"#

  default-column-width { fixed 634; }
  min-width 634
  max-width 634
}

layer-rule {
  match namespace="^hyprpaper$" 
  place-within-backdrop true
}

