@import "colors.css";

* {
  all: unset;

  font-family: "GeistMono Nerd Font", monospace;
  font-weight: bold;
  font-size: 14px;

  outline: none;
  padding: 0;
  margin: 0;

  transition: 150ms;
}

.blank-window {
  background: transparent;
}

/* ------------------------- Floating Notification ------------------------- */

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background, 0.8);
  box-shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  border: 1px solid @on_primary;
  border-radius: 12px;
  margin: 8px;
  margin-bottom: 0;
  padding: 0;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 8px;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background-color: @on_primary;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @on_primary;
  color: @background;
}

/* ------------------------- Control Center ------------------------- */

.control-center {
  background-color: alpha(@background, 0.8);
  border-radius: 12px;
  border: 2px solid @on_primary;
  box-shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  margin: 8px;
  padding: 16px;
}

.control-center .notification-row .notification-background,
.control-center
  .notification-row
  .notification-background
  .notification.critical {
  background-color: alpha(@background, 0.6);
  border-radius: 12px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: alpha(@on_primary, 0.8);
  color: @on_surface;
  border-radius: 12px;
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @on_primary;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @on_primary;
}

.control-center .notification-row .notification-background .close-button {
  border-radius: 6px;
  color: @on_surface;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @on_primary;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @on_primary;
}

/* ------------------------- Notification Group ------------------------- */

.notification-group {
  margin: 2px 8px 2px 8px;
}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @on_surface;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @on_surface;
  padding: 4px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @on_surface;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @on_primary;
}

/* ------------------------- Widget ------------------------- */

.widget-title {
  color: @on_surface;
  margin: 6px;
}

.widget-title > * {
  font-size: 1.5rem;
}

.widget-title button {
  border-radius: 6px;
  padding: 4px 12px;
}

.widget-title button:hover {
  background-color: @on_primary;
}

.widget-title button:active {
  background-color: @on_primary;
}

.widget-buttons-grid {
  font-size: x-large;
  margin: 12px 0;
  border-radius: 20px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 0 6px;
  padding: 1rem 3rem;
  background: alpha(@on_primary, 0.2);
  border-radius: 8px;
  border: 2px solid transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  border: 2px solid @on_primary;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @on_primary;
}

.widget-mpris {
  border-radius: 16px;
  color: @on_surface;
  margin: 20px 6px;
}

.widget-mpris-player {
  border-radius: 12px;
  padding: 12px;
}

.widget-mpris > box > button {
  color: @on_surface;
  border-radius: 20px;
}

.widget-mpris button {
  color: alpha(@text, 0.6);
}

.widget-mpris button:hover {
  color: @on_surface;
}

.widget-mpris-album-art {
  border-radius: 16px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}

.widget-backlight,
.widget-volume {
  padding: 8px 16px;
  margin: 0 0 8px 0;
  border-radius: 20px;
}

slider {
}

.widget-backlight label,
.widget-volume label {
}

.widget-backlight trough,
.widget-volume trough {
  background: alpha(@on_surface, 0.2);
  margin: 0 8px;
}

.widget-backlight trough highlight,
.widget-volume trough highlight {
  background: @on_primary;
  border: unset;
}

.widget-backlight button,
.widget-volume button {
  padding: 0 4px;
}

progressbar,
progress,
trough {
  border-radius: 20px;
}

progressbar {
  background-color: @on_primary;
}

trough {
}

trough highlight {
  padding: 8px;
  background: @on_surface;
  border: 2px solid @background;
  border-radius: 20px;
}

trough slider {
  outline: none;
  border: none;
}

trough slider:hover {
}
