/**
 *
 * Author : BinaryHarbinger
 * Github : BinaryHarbinger
 * 
 * Colors
 *
 **/

* {
    background-color:   #0a0a0a;
    foreground-color:   #fafafa;
    primary-color:      #f2c185;
    secondary-color:    #403222;
}
