* {
  font-size: 12px;
  font-family: Geist Mono;
  border-radius: 4px;
  min-height: 0;
}

window#waybar {
  color: #edecee;
  background: rgba(0, 0, 0, 0.4);
}

#custom-arrow-left-fg,
#custom-arrow-right-fg {
  color: #15141b;
}
#custom-arrow-left-bg,
#custom-arrow-right-bg {
  color: #000;
  background: #15141b;
}

#backlight,
#battery,
#clock,
#memory,
#mode,
#network,
#pulseaudio,
#tray,
#taskbar,
#workspaces {
  background: rgba(0, 0, 0, 0.4);
  padding: 0 0.3em;
}

#mode {
  color: rgba(0, 0, 0, 0.4);
  background: #61ffca;
}

#taskbar,
#workspaces {
  padding: 0;
}

#taskbar button,
#workspaces button {
  color: #edecee;
  padding: 0 0.5em;
  margin-right: 0.4em;
}

#taskbar button.active,
#workspaces button.visible {
  border: 1px solid rgba(97, 255, 202, 0.5);
}

#taskbar button.focused,
#workspaces button.focused {
  color: #61ffca;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #61ffca;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  color: rgba(0, 0, 0, 0.4);
  background: #61ffca;
}

#taskbar button:hover,
#workspaces button:hover {
  color: #61ffca;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #61ffca;
  box-shadow: inherit;
  text-shadow: inherit;
}

#backlight {
  color: #f694ff;
}
#battery {
  color: #82e2ff;
}
#memory {
  color: #ff6767;
}
#network {
  color: #61ffca;
}
#pulseaudio {
  color: #ffca85;
}
