/*------------Importing Matugen Colors---------------*/
@define-color background_color #0a0a0a;
@define-color foreground_color #fafafa;
@define-color primary_color #78a9ff;
@define-color secondary_color #E1BDDD;
@define-color muted_color #262626;
@define-color destructive_color #7f1d1d;

/*------------Global Properties-----------------*/
* {
    border: none;
    border-radius: 0px;
    font-family: GeistMono Nerd Font Mono;
    font-size: 12px;
    min-height: 0;
}

/*------------Window--------------------*/
#window{
    background: transparent;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    font-weight: normal;
    font-style: normal;
}

/*----------Waybar Window------------*/
window#waybar {
    background: transparent;
}

/*-----------Tooltip--------------*/
tooltip {
  background: @background_color;
  border: 2px solid @primary_color;
  border-radius: 12px;
}
tooltip label {
  color: @foreground_color;
  padding: 6px;
}

/*---------Workspaces-----------------*/
#workspaces {
    background: transparent;
    margin: 4px;
    padding: 4px;
    border-radius: 16px;
    color: @foreground_color;
}
#workspaces button {
    font-weight: bold;
    padding: 0px 4px;
    margin: 0px 4px;
    border-radius: 16px;
    color: transparent;
    background: @muted_color;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    font-weight: bold;
    background-color: @primary_color;
    color: @background_color;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    font-weight: bold;
    background-color: @secondary_color;
    color: @background_color;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    font-weight: bold;
    background-color: @destructive_color;
    color: @background_color;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

/*---------------Clock, Playerctl, Battery, Cpu, Temperature, Colorpicker, Memory, Idle_inhibitor----------------------*/
#pulseaudio, #network, #battery, #cpu, #temperature, #memory, #custom-playerctl.play {
    background: @background_color;
    font-weight: bold;
    margin: 4px 0px;
}
#pulseaudio, #network, #battery {
    color: @foreground_color;
    border-radius: 10px 24px 10px 24px;
    padding: 0 16px;
    margin-left: 8px;
}
#clock {
    color: @secondary_color;
    background: @background_color;
    border-radius: 0px 0px 0px 40px;
    padding: 0px 8px 0px 16px;
    margin-left: 8px;
    font-weight: bold;
}

/*-----------Playerctl-------------------*/
#custom-playerctl.play {
    background: @background_color;
    font-size: 20px;
    color: @secondary_color;
    border-radius: 24px 0px 0px 8px;
    padding-left: 16px;
    margin-left: 8px;
}
#custom-playerctl.play:hover {
    color: @primary_color;
}
#custom-playerlabel {
    background: @background_color;
    color: @foreground_color;
    padding-right: 24px;
    border-radius: 0px 8px 24px 0px;
    margin: 4px 0px;
    font-weight: bold;
}

/*-----------Group--------------*/
#group-utility {
    padding: 0px 5px;
    transition: all .3s ease; 
}

/*-------------Launcher--------------*/
#custom-launcher {
    color: @secondary_color;
    background: @background_color;
    margin-right: 8px;
    padding: 0px 16px 0px 8px;
    border-radius: 0px 0px 40px 0px;
    font-size: 24px;
}

/*--------------Cpu, Termperature, Colorpicker, Memory, Idle_inhibitor----------------*/
#cpu, #temperature, #memory {
    background: @background_color;
    font-size: 16px;
}

#cpu {
    color: @primary_color;
    border-radius: 24px 0px 0px 10px;
    padding-left: 16px;
    padding-right: 8px;
    margin-left: 8px;
}

#memory {
    color: @secondary_color;
    padding: 0px 8px;
}

#temperature {
    color: @primary_color;
    border-radius: 0px 8px 24px 0px;
    padding-left: 8px;
    padding-right: 16px;
}

/*---------------Expand---------------*/
#custom-expand {
    background: transparent;
    color: @secondary_color;
    margin: 1px;
    font-size: 24px;
}

#custom-expand:hover {
    color: @primary_color;
}
