@define-color primary         #f2c185;
@define-color secondary       #403222;

* {
  font-family: "GeistMono Nerd Font", monospace;
  font-size: 12px;
  font-weight: 600;

  all: unset;
  border: 0;
  min-height: 0;
}

window#waybar {
  background-color: alpha(@secondary, 0.9);
  color: @primary;

  border: 2px solid alpha(@primary, 0.8);
  border-radius: 10px;
  animation: blink-border 3s linear infinite;
}

#custom-arch {
  margin: 3px;
  padding-left: 12px;
  border-radius: 8px;
}

#battery,
#clock,
#custom-notification {
  padding-left: 10px;
}

#custom-notification {
  padding-right: 12px;
}
#workspaces {
  margin: 3px 0;
}

#workspaces button {
  color: alpha(@primary, 0.6);
  padding: 0 12px;
  border-radius: 8px;
}

#workspaces button:hover {
  color: alpha(@primary, 0.8);
}

#workspaces button.active {
  color: @primary;
  background-color: alpha(@secondary, 0.4);
}

@keyframes blink-border {
  0% {
    border-color: alpha(@primary, 0.8);
  }
  50% {
    border-color: alpha(@secondary, 0.8);
  }
  100% {
    border-color: alpha(@primary, 0.8);
  }
}
