* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(1, 9, 9, 0.4);
}

button {
  margin: 8px;
  box-shadow: none;
  text-shadow: none;

  /* Text */
  color: rgb(250, 250, 250);
  font-size: 1em;
  font-weight: 600;
  font-family: "Geist Sans", sans-serif;

  /* Border */
  border: rgba(42, 39, 39, 0.7) 2px solid;
  border-radius: 8px;

  /* Color */
  background-color: rgba(11, 9, 9, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  transition: border-color 0.3s ease-in-out;
}

button:focus,
button:active,
button:hover {
  border: rgba(250, 250, 250, 0.7) 2px solid;
}

#lock {
  background-image: image(
    url("./icons/lock_white.png"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("./icons/logout_white.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown_white.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot_white.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
