* {
  font-size: 16px;
}

window {
  background-color: rgba(0, 0, 0, 0.4);
}

button {
  color: #f5f5f5;
  background-color: #171717;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: #171717;
  background-size: 20%;
}

button:hover {
  background-color: #171717;
  background-size: 25%;
  border-radius: 12px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock,
button:focus#lock {
  border: 1px solid #f5f5f5;
  border-radius: 16px 0px 0px 0px;
  margin: 12px;
}

button:hover#logout,
button:focus#logout {
  border: 1px solid #f5f5f5;
  border-radius: 0px 0px 0px 16px;
  margin: 12px;
}

button:hover#shutdown,
button:focus#shutdown {
  border: 1px solid #f5f5f5;
  border-radius: 0px 16px 0px 0px;
  margin: 12px;
}

button:hover#reboot,
button:focus#reboot {
  border: 1px solid #f5f5f5;
  border-radius: 0px 0px 16px 0px;
  margin: 12px;
}

#lock {
  background-image: image(url("$HOME/dotfiles/wlogout/icons/lock_white.png"),
      url("/usr/share/wlogout/icons/lock.png"),
      url("/usr/local/share/wlogout/icons/lock.png"));
  border-radius: 8px 0px 0px 0px;
  margin: 8px 0px 0px 8px;
}

#logout {
  background-image: image(url("$HOME/dotfiles/wlogout/icons/logout_white.png"),
      url("/usr/share/wlogout/icons/logout.png"),
      url("/usr/local/share/wlogout/icons/logout.png"));
  border-radius: 0px 0px 0px 8px;
  margin: 0px 0px 8px 8px;
}

#shutdown {
  background-image: image(url("$HOME/dotfiles/wlogout/icons/shutdown_white.png"),
      url("/usr/share/wlogout/icons/shutdown.png"),
      url("/usr/local/share/wlogout/icons/shutdown.png"));
  border-radius: 0px 8px 0px 0px;
  margin: 8px 8px 0px 0px;
}

#reboot {
  background-image: image(url("$HOME/dotfiles/wlogout/icons/reboot_white.png"),
      url("/usr/share/wlogout/icons/reboot.png"),
      url("/usr/local/share/wlogout/icons/reboot.png"));
  border-radius: 0px 0px 8px 0px;
  margin: 0px 8px 8px 0px;
}
