window {
  margin: 0px;
  border: solid 2px #27272a;
  background-color: #09090b;
  border-radius: 8px;
}

#input {
  margin: 4px;
  border: none;
  color: #fafafa;
  background-color: #09090b;
}

#inner-box {
  margin: 4px;
  border: none;
  background-color: #09090b;
}

#outer-box {
  margin: 4px;
  border: none;
  background-color: #09090b;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 4px;
  border: none;
  color: #fafafa;
}

#entry.activatable #text {
  color: #27272a;
}

#entry > * {
  color: #fafafa;
}

#entry:selected {
  background-color: #27272a;
  border-radius: 4px;
}

#entry:selected #text {
  font-weight: bold;
}
